body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1366px;
    background-image: url(./background\ 1.png);
    background-size: cover;
}
.container {
    width: 1028px;
    margin: 0 auto;
    
}
image{
    width: 300px;
    height: 220px;
}
.image:hover{
    width: 295px;
}
/* .text:hover .image{
    width: 295px;
} */
a{
    text-decoration: none;
    
}
a:hover{
    color: #F26522;
}
p, span{
    margin: 0;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 18px;
}
.header-logo{
    display: flex;
    padding-top: 51px;
}
/* .header-logo:hover{
    color: #F26522;
} */
/* .link:hover{
    color: #F26522;
}    */
.logo {
    margin-right: 8px;
    position: relative;
    /* height: 53px; */
    width: 47px;
    background: url(./logo\ 3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    color: #FFFFFF;
}
.logo:hover{
    background: url(./logo\ 2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* color: #F26522; */
}
/* .logotip{
    display: none;
    position: absolute;
}
.logotip:hover{
    display: block;
    position: absolute;
} */
.logo-text {
    display: flex;
    flex-direction: column;
    padding-left: 57px;
    /* color: #FFFFFF; */
}
/* .link{
    text-decoration: none;
    color: #FFFFFF;
} */
.milan {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    width: 140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.holidays{
    width: 135px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-contackt{
    display: flex;
  flex-direction: column;
    color: #FFFFFF;
    padding-top: 46px;
}
.e-mail{
    width: 219px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
display: flex;
margin: 0 auto;
justify-content: end;

}
.phone{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
display: flex;
margin: 0;
padding-top: 19px;
justify-content: end;

}
.kontakt-info{
    color: #FFF;
    
}

.main{
    display: flex;
    box-sizing: border-box;
    width: 1028px;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 49px;
}
.grid{
display: grid;
grid-template-columns: repeat(3,300px);
grid-template-rows: repeat(2, 220px);
row-gap: 78px;
column-gap: 60px;
}
.grid-item {
    position: relative;
}
.grid-item:hover .line{
    display: block;
    opacity: 1;
    /* animation: 2s ease-in-out; */
    /* animation-name: line;
    animation-duration: 2s;
    animation-timing-function: linear; */
    /* animation-delay: 0ms;
    animation-timing-function:unset; */
}
/* .grid-item:hover .text{
    color: #F26522;
} */
.tour:hover .text{
    color: #F26522;
}
.tour:hover .image{
    width: 295px;
}
/* .line:hover {
    width: 295px;
    color: #F26522;
} */
.image2{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* .capture:hover{
    width: 295px;
    color: #F26522;
} */
.capture:hover .image2{
    width: 295px;
}
.grid-item .text{
    padding-top: 20px;
    position: absolute;
    left: 0;
    margin: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* margin-bottom: 49px; */
}
.grid-item .line{
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F26522;
    width: 295px;
    height: 55px;
    box-sizing: border-box;
    border: transparent 2px solid;
    border-image: repeating-linear-gradient(to bottom left, black, white);
    /* border-image-slice:initial; */
    border-image-slice: 1;

    animation-name: line;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
    animation-timing-function:unset;
    
    /* transition: 2s ease-in-out;
    transform: translateY(0); */
   
}
.grid-item .capture:hover .line {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F26522;
    width: 295px;
    margin-bottom: 50px;
    /* transition: 2s ease-in-out;
    
    transform: translateY(-55px); */
   
    animation-name: line;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes line{
    0%{
        bottom: -55px;
    }
    100%{
        bottom: 0;
    }
}
.line-from{
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    /* transition: .2s ease-in-out; */
}
.line-stend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
}
.line-stend span {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.view{
    text-decoration: none;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 49px;
}
.view::after{
    content: "";
    background-image: url(./Vector\ 1\ \(1\).png);
    margin-left: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}
.footer{
    color: #FFFFFF;
    width: 306px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
margin-bottom: 15px;
width: 1028px;
}
.footer-text{
margin-top: 49px;
}
